{% extends 'base.html.twig' %}


{% block title %}
    Nouvelle Demande
{% endblock %}

{% block request %}active{% endblock %}

{% block body %}

<h1>Nouvelle Demande</h1>

{{ include('_form.html.twig') }}

{% endblock %}