{% extends "base.html.twig" %}

{% block title %}
    Modifier Catégorie
{% endblock %}

{% block category %}active{% endblock %}

{% block body %}

<h1>Modifier une Catégorie</h1>

{{ include('_form.html.twig') }}

{% endblock %}