.background1 {
  background-image: url('photo-1509624776920-0fac24a9dfda.jpeg');
}

.background2 {
  background-image: url('photo-1531685250784-7569952593d2.jpeg');
}

.background3 {
  background-image: url('photo-1482881497185-d4a9ddbe4151.jpeg');
}