{% extends 'base.html.twig' %}

{% block title %}Départements{% endblock %}

{% block department %}active{% endblock %}

{% block body %}

<h1>Liste des Départements</h1>

<table class="table table-hover table-striped">
  
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
     
    {% for department in departments %}        
    <tr>
      <th scope="row">{{ department.id }}</th>
      <td>{{ department.name }}</td>
      <td><a class="btn btn-sm btn-secondary" href="{{ path('back_department_read', {id: department.id}) }}">Voir</a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>


{% endblock %}
