{% extends "base.html.twig" %}

{% block title %}
    Modifier un utilisateur
{% endblock %}

{% block admin %}active{% endblock %}

{% block body %}

<h1>Modifier un utilisateur</h1>

{{ include('back/user/_form.html.twig') }}

{% endblock %}