{% extends 'base.html.twig' %}


{% block title %}
    Nouvelle Proposition
{% endblock %}

{% block proposition %}active{% endblock %}

{% block body %}

<h1>Nouvelle Proposition</h1>

{{ include('_form.html.twig') }}

{% endblock %}