{% extends "base.html.twig" %}

{% block title %}
    Modifier Proposition
{% endblock %}

{% block proposition %}active{% endblock %}

{% block body %}

<h1>Modifier une proposition</h1>

{{ include('_form.html.twig') }}

{% endblock %}